<header>

    <nav class="full-menu">
        <ul class="main-menu">
            <li>
              <div class="home"><a  href="#">Home</a></div>
            <div class="home-button"><a><i class='bx bx-home'></i></a></div>
            <div class="hamburger-continer">
             <div class="hamburger-tab"></div>               
             <div class="hamburger-tab"></div>             
             <div class="hamburger-tab"></div>               
            </div>

            <div class="horizontal-line"></div></li>
            <li><a href="#">Phones</a>
                
                <ul class="sub-menu">
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">Huawei</a></li>
                </ul>    
            </li>
            <li class="scanner"><a href="#">Watches</a>
              <div class="horizontal-line"></div></li></li>
            <li><a href="#">Tablets</a>
              <ul class="sub-menu">
                <li><a href="#">Samsung</a></li>
                <li><a href="#">iPhone</a></li>
                <li><a href="#">Huawei</a></li>
            </ul>  </li>
            <li class="scanner"><a href="#">About</a>
              <div class="horizontal-line"></div></li></li>

        </ul>
    </nav>
    <h1 class="main-heading">BestPhone, where technology meets good design & performance</h1>

   </header>