<p class="banner">Acesta este un proiect scolar!</p>
        <div class="link-top" title="Back to top!"><a class="link-top-btn" href="#">
            <span class="triangle-icon">&#5123;</span></a></div>

            <p>
                Telefon: <a href="tel:+40123456789">+40 123 456 789</a><br>
                Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Universitatea+Bucuresti" target="_blank">Str. Exemplu nr. 1, București</a><br>
                E-mail: <a href="mailto:exemplu@fictiv.com">exemplu@fictiv.com</a><br>
                Chat: <a href="https://wa.me/40123456789" target="_blank">WhatsApp</a> / <a href="skype:live:.cid.1234567890abcdef?chat" target="_blank">Skype</a>
            </p>
            <p id="watermark"></p>
            <small>&copy; <time datetime="2024-05-23">23 mai 2024</time></small>