<header>

    <nav>
            
        <label id="hamburger" for="ch-menu">
            <div id="container-hamburger">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li class="scanner">
                <div id="acasa"><a href="/home">Acasa</a></div>
                <div id="acasa-mediu"><ion-icon name="home-outline"></ion-icon></div>
            
            
                <div id="horizontal-line"></div>
            </li>
            <li class="scanner"><a href="#">Inregistrare</a>
                <div id="horizontal-line"></div></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="despre.html#prezentare">Video</a></li>
                    <li><a href="despre.html#istoric">Duotone</a></li>
                    <li><a href="despre.html#motivatie">Reflexie</a></li>
                    <li><a href="despre.html#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?tip=cofetarie">Telefoane</a></li>
                    <li><a href="/produse?tip=gelaterie">Tablete</a></li>
                    <li><a href="/produse?tip=patiserie">Accesorii</a></li>
                </ul>
            
            </li>
            <li class="scanner"><a href="#">Contact</a>
                <div id="horizontal-line"></div></li>
        </ul>
    </nav>
   </header>